@charset "UTF-8";

html{
    /*background-color: lightslategray;*/
    font-family: Cutive, serif;
}
body{
    background-color: lightslategray;
    margin: auto;
}

header{
    background-color: white;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000; /* Ensure it's above other content */
}

header h1{
    position: relative;
    text-align: center;
    top: 12px;
}

menu {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  text-align: center;
  font-size: 1.25em;
}

header menu {
    display: flex;
    justify-content: space-around;
}
header menu a {
  display: block;
}

header menu li {
  position: relative;
}

header menu a:link {
  padding: 0.5em;
  text-decoration: none;
  background-color: white;
  color: black;
}

header menu a:visited {
  color: black;
}

header menu a:hover {
  background: black;
  color: white;
}

header img {
  float: left;
    height: 5em;
    width: 5em;
}

#home-body div a {
  text-decoration: none;
}

main{
    text-align: center;
    display: block;
    padding: 1em 1em 1em 1em;
}

main div{
    border: 2px solid whitesmoke;
    margin: 15px 0 15px 0;
    border-radius: 50px;
}

main div p{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'EB Garamond', Arial;
    font-size: 1.1em;
}

main div h3 a{
    color: black;
    text-decoration: underline;
}


#home-body div a:hover{
    text-decoration: underline;
}

h2{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
}

h3{
    font-size: 20px;
}

.product{
  border: 2px solid whitesmoke;
  margin: 15px 0 15px 0;
  border-radius: 45px;
}
.product img{
  height: 50%;
  width: 50%;
}

.masthead{
    background-image: url("../images/typewriter1.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 100vh;
}

.top-footer{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: white;
    color: black;
}
.top-footer div:nth-child(1){
    display: flex;
    align-items: center;
}
.top-footer div:nth-child(1) img{
    width: 80%;
    height: 100%;
}
.top-footer div:nth-child(2),
.top-footer div:nth-child(3){
    padding-top: 25px;
    text-align: center;
}

.top-footer div:nth-child(3) a{
    width: 90%;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.bottom-footer{
    background-color: #000000;
    text-align: center;
    padding: 5px;
}
.bottom-footer p{
    font-size: 16px;
    color: #f8f8f8;
}


@media only screen and (max-width: 600px) {
    header{
      font-size: 1em;
      margin: 0px;
    }
    header menu {
        display: flex;
        align-items: center; /* Align items to the center */
        font-size: 0.9em;
    }
    .masthead{    
        background-image: url("../images/typewriter1.jpg");
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
        justify-content: center;
    }
    .top-footer{
        font-size: 10px;
    }
    .top-footer div:nth-child(3){
        width: 90%;
        padding: 5px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
      /* Styles for screens between 601px and 1024px */
    header menu {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
    }
    .top-footer{
        font-size: 15px;
    }
    .top-footer div:nth-child(3){
        width: 90%;
        padding: 5px;
    }
}

@media only screen and (min-width: 1025px) {
      /* Styles for screens larger than 1024px */
    header menu {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
    }
}